@model PXLSchoolManagement.ViewModels.GebruikerDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        @if (Model.IsTemporarilyAccount)
        {
            <dt class = "col-sm-2">
                <p>Aangevraagde rol</p>
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.RequestedRole.Name)
            </dd>
            <dd class = "col-sm-2">
                
                <form asp-action="AcceptRole">
                    @Html.HiddenFor(model => model.RequestedRoleId)
                    @Html.HiddenFor(model => model.GebruikerId)
                    <input type="submit" value="Accepteer rol" class="btn btn-primary" />
                </form>
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GebruikerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
